:host{
    --slds-c-accordion-summary-color-background : rgb(227 245 250);
    /* --slds-c-accordion-summary-border : 1px solid gainsboro;
    --slds-c-accordion-summary-border-radius : 8px; */
}

.container {
    display: flex;
    width: 100%;
    overflow: hidden;
    user-select: text;
}

.left-section {
    white-space: pre;
    width: 0;
    overflow: scroll;
    scrollbar-color: #00AEFF white;
    transition: all 0.5s;
}

.left-section h1 {
    padding-left: 12%;
    font-size: small;
    color: rgba(123, 126, 127, 1);
}

.tablist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-bottom: 1rem;
}

.tabs {
    background-color: #fff;
    height: 2.5rem;
    width: 8rem;
    min-width: 80%;
    /* min-width: 10rem; */
    border: solid 1px #00AEFF;
    border-radius: 12px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-inline: 0.5rem;
    font-weight: bolder;
    cursor: pointer;
    color: rgba(123, 126, 127, 1);
}

.tabs:hover {
    box-shadow: 2px 2px 4px rgba(0, 174, 255, 0.33);
}

.tabs p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-tab {
    color: black;
    background: linear-gradient(90deg, rgb(205,239,255), rgb(205,255,241));
    box-shadow: 2px 2px 4px rgba(0, 174, 255, 0.33);
}

.content .img{
    display: flex;
    padding: 16px 4px;
    /* justify-content: center; */
}

.content img{
    border: solid 1px black;
    margin: 0.5rem;
    width: 600px;
    cursor: pointer;
}

.content{
    background-image: url('/resource/MVDG__homePageImgs/HomeNoRecordBg.png');
    background-size: contain;
}

.horizontal-line {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid black 1px; */
}

.top-line {
    border: solid #00AEFF 0.5px;
    width: 0;
    height: 10%;
}

.arrow {
    border: solid transparent 1px;
    background-color: #00AEFF;
    border-radius: 50%;
    margin: 1px;
    transition: all 0.3s;
    cursor: pointer;
}

.arrow:hover{
    background-color: #0072C6;
}

.arrow:active{
    background-color: #00528c;
}

.bottom-line {
    border: solid #00AEFF 0.5px;
    width: 0;
    height: calc(90% - 24px);
}

.white-background{
    scroll-behavior: smooth;
    width: 100%;
    font-size: 16px;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    background-color: #fff;
    scrollbar-color: #00AEFF white;
    overflow: scroll;
    outline: none;
    transition: all 0.5s;
}

.content p{
    width: fit-content;
}

.content{
    scroll-behavior: smooth;
    background-image: url('/resource/MVDG__homePageImgs/HomeNoRecordBg.png');
    background-size: contain;
    transition: all 0.5s;
}

.tab-content {
    scroll-behavior: smooth;
    padding: 2rem;
    transition: all 0.5s;
}

/* .tab-content h1, h2, h3 {
    cursor: pointer;
} */

.tab-content h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 200%;
    font-weight: bolder;
}

.tab-content h1 span {
    font-size: 150%;
}

.tab-content h2 {
    font-size: large;
    font-weight: bold;
}

.tab-content h3 {
    padding-top: 16px;
    padding-bottom: 4px;
    font-size: medium;
    font-weight: bold;
}

.tab-content .note {
    color: rgb(245, 93, 93);
}

/* SLDS Override */
.slds-accordion__list-item:first-child {
    border-top: 0;
}

.slds-accordion__summary {
    border: var(--slds-c-accordion-summary-border);
    border-radius: var(--slds-c-accordion-summary-border-radius);
}

lightning-accordion-section {
    display: contents !important;
    border-radius: 5px !important;
    border: 1px solid grey !important;

}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.custom-modal-container {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    margin-top: 5.5rem;
    margin-inline: 5.5rem;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 103;
}

.custom-modal-content, .custom-modal-body, .img {
    width: fit-content;
}

.custom-modal-body .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-modal-body img {
    max-height: 70vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.backdrop {
    background: rgba(0, 0, 0, 0.6);
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}