.main-preview-div{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    border-radius: 0.5rem;
    background-image: url(/resource/MVDG__homePageImgs/HomBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.main-preview-div:has(.close-div){
    position: absolute;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.title-text {
    width: 100%;
    min-height: 2.5rem;
    background: #04ADFE;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    font-size: 1.25rem;
    user-select: none;
    margin: 1rem 0 0.5rem 0;
}
.close-div {
    position: absolute;
    top: -2rem;
    right: 0;
    cursor: pointer;
}

.close-div svg{
    width: 1rem;
    height: 1rem;
    transition: all 0.1s;
}

.close-div svg:hover{
    transform: scale(1.1);
}

.note-div {
    text-align: left;
    color: red;
}

.preview-container {
    flex-grow: 1;
    overflow-y: scroll;
}

.preview-container table {
    background: #ffffffab;
    text-wrap: nowrap;
}

.no-results{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-result-svg{
    width: 50% !important;
    height: 50% !important;
}

.buttons-div{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    /* background: #d5ebff; */
    border-radius: 0.5rem;
    gap: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.control-btn, .back-btn{
    display: flex;
    gap: 0.5rem;
    background-color: #00aeff;
    color: white;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0.5rem 1rem;
    width: 10.5rem;
    height: 2rem;
    cursor: pointer;
    font-weight: 400;
}
.control-btn:hover, .back-btn:hover{
    background: #0084c1;
    transition: 0.2s;
}

.control-btn:has(svg.true){
    background: lightgray;
    pointer-events: none;
}