/* ----------------------------------------------------------- For the DG Setup Tab (START) ------------------------------------------------------------ */
:host{
    --height-for-create-button-div : 100%;
    --visibility-for-create-button-div : visible;
}

.main-setup-div {
    width: 100%;
    position: relative;
    height: calc(100% - 4.5rem);
    overflow-y: scroll;
    scrollbar-width: none;
}

.prerequisites-div {
    padding-top: 1rem;
}

.checklist-div {
    display: flex;
    border: 1px solid #00aeff;
    border-radius: 0.5rem;
    position: relative;
    padding: 1rem 1rem;
    margin-block: 1rem;
}

.checklist-header{
    background: white;
    margin-block: 0.5rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    max-width: fit-content;
    color: #00aeff;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -24px;
}

.trusted-url-copy-div{
    border: 1px dotted green;
    border-radius: 0.2rem;
    padding-inline: 0.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none !important;
    cursor: pointer;
}

.trusted-url-copy-div:hover {
    background: #90ee9045;
}

.trusted-url-copy-div:active{
    color: green;
}

.trusted-url-copy-div:active .copy-trusted-url-svg {
    stroke : green !important;
    stroke-width: 2;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.prerequisites-info-div {
    padding: 0rem 1rem;
    border: 1px dashed #00aeff;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
    box-shadow: 0 0 5px 1px lightgray;
}

.instruction-div {
    flex-grow: 1;
}

.instruction-div b {
    user-select: text;
}

.check-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-btn{
    width: max-content;
    min-width: 6rem;
    height: 32px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #00aeff;
    border-radius: 6px;
    padding-inline: 1rem;
    transition: all linear 0.1s;
    gap: 0.5rem;
    font-size: 1rem;
}

.verify-btn:hover{
    background: #0084c1;
}

.create-buttons-div {
    padding: 1rem 0;
    height: var(--height-for-create-button-div, 0%);
    visibility: var(--visibility-for-create-button-div, collapse);
    transition: 1s all ease-in-out;
}

.button-creation {
    height: calc(100% - 1.5rem);
    scrollbar-width: thin;
    overflow: scroll;
    scrollbar-color: #00AEFF transparent;
}

.title-div-for-setup {
    text-align: center;
    background-color: #00aeff;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.spinner {
    animation: rotate 2s linear infinite;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    & .path {
      stroke: #00aeff;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5px;
    stroke-miterlimit: 10;
    stroke: green;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px green;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
    100%{stroke-dashoffset: 0}
}
@keyframes scale{
    0%, 100%{
        transform: none
    }
    50%{
        transform: scale3d(1.1, 1.1, 1)
    }
}
@keyframes fill{
    100%{box-shadow: inset 0px 0px 0px 30px green}
}  

/* ------------------------------------------------------------ For the DG Setup Tab (END) ------------------------------------------------------------ */
/* ------------------------------------------------------------ For the Userguide Tab (START) ------------------------------------------------------------ */

c-user-guide {
    height: calc(100% - 4.5rem);
    position: relative;
    display: flex;
    padding-top: 1rem;
}

.buttonCSS {
    border-radius: 6px;
    padding: 10rem 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;   
}
.buttonCSS:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
.buttonCSS-blue {
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.15); */
    text-decoration: none;
    border: 1px solid #00838d;
    backdrop-filter: blur(4px);
}
.buttonCSS-blue p, .buttonCSS-blue h3 {
    visibility: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-align: center;
    /* text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    font-size: 1.75rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #00aeff; */
}
/* .text-grow:hover p{
    visibility: visible;
} */
.buttonCSS-blue:hover {
    box-shadow: inset 0 0 0 1000px #d5ebffdd;
}

.buttonCSS-blue:hover p, .buttonCSS-blue:hover h3 {
    visibility: visible !important;
}
.buttonCSS-bg-userguide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/resource/DG_UserGuide');
}
.buttonCSS-bg-faqs {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/resource/DG_FAQs');
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc( 100% - 4.5rem);
}
.p-1 {
    width: 45%;
}

  .card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
  
    &.small {
      font-size: 14px;
    }
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -9px;
    margin-right: -9px;
    rotate: -45deg;
    
  }
  
  .card-redirect {
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 36px;
      width: 36px;
      border-radius: 36px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.35s ease-out;

      svg{
        rotate: -40deg;
      }
    }
  
    &:hover:before {
      transform: scale(60);
    }
  }
  
  .card-redirect:hover {
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }
    h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
  }
  

/* ------------------------------------------------------------ For the Userguide Tab (END) ------------------------------------------------------------ */

/* ------------------------------------------------------------ For the Faq & Limitation Tab (START) ------------------------------------------------------------ */




.main-limit-div{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #28b3f4 #28b3f400;
    height: calc(100% - 4.5rem);
    padding-top: 1rem;
}

.limitations {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
}


/* ------------------------------------------------------------ For the Limitations Tab (END) ------------------------------------------------------------ */

.container {
    user-select: none;
    background-color: white;
    display: flex;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    margin-left: -0.75rem;
    margin-top: -.75rem;
    background: white;
    position: relative;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

.backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.backgroundimg img {
    height: 100%;
    width: 100%;
    z-index: -1;
}



.border .userdata p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}



.content-container {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    
}

.left-child-container {
    height: 100%;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    margin: 0 20px 0 0;
    /* margin: 2% 1%; */
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(205,240,254), rgb(205,255,241) );
    position: relative;
}

.company-info{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin-inline: auto;
}

.right-child-container {
    /* margin: 2% 1%; */
    height: 100%;
    box-sizing: border-box;
    width: calc(80% - 20px);
    border-radius: 8px;
}

.semi-container{
    height: 100%;
    display: flex;
    width: 100%;
}

.heading{
    text-align: center;
    background-image: linear-gradient(to right, rgb(205,239,255), rgb(205,255,241)  );
    font-size: 25px;
    letter-spacing: 1px;
    height: 4.5rem;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    border-radius: 8px 8px 0px 0px;
}
/* 
h2{
    padding: 1%;
} */

.integration-options{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 4.5rem);
    /* background-color: white; */
    border-radius: 0px 0px 8px 8px;
    padding-top: 0.8rem;

}

.logo img{
    margin-block: 5%;
    height: 3rem;
}

.logo {
    height: 10%;
    width: 100%;
}

.switch{
    box-sizing: border-box;
    padding-top: 15%;
    padding-left: 15%;
    height: 80%;
    overflow: hidden;
}

.switch div{
    padding-block: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    height: 50px;
    text-align: left;
    display: block;
    text-decoration: none;
    font-weight: 550;
    position: relative;
    color: black;
    background-color: transparent;

}

.switch div::before {
    top: auto;
    bottom: -22px;
    border-radius: 0 8px 0 0 !important;
}


.cursor::after, .cursor::before {
    content: '';
    width: 15px;
    float: right;
    height: 22px;
    position: absolute;
    z-index: 100;
    right: 0;
}

.cursor::after{
    border-radius: 0 0 8px 0;
    top: -22px;
}

.cursor.enable::before{
    display: none;
    box-shadow: 0 -8px 0 0 white;
}

.cursor.enable::after{
    display: none;
    box-shadow: 0 8px 0 0 white;
}

.cursor.enable::before, .cursor.enable::after {
    display: block;
}

.cursor.enable{
    background-color: white !important;
}

.all-cards{
    display: flex;
    height: 30%;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.all-cards img{
    height: 140px;
    width: 200px;
}

/* .gc img{
    height: 120px;
    width: 160px;
}

.oc img{
    height: 120px;
    width: 190px;
}

.ac img{
    height: 115px;
    width: 160px;
}

.dc img {
    height: 115px;
    width: 110px;
} */

.card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0.5rem ;
    border: 1px solid black;
    border-radius: 8px;
    width: calc(25% - 0.5rem);
    background-color: white;
    align-items: center;
}

.card[data-access=false] img{
    opacity: 0.5;
}

.card:hover {
    /* background-color: rgb(243, 238, 238); */
    box-shadow: 0px 0px 10px 0px rgb(142 142 142);
    cursor: pointer;
}

.card[data-access=false]:hover{
    box-shadow: none;
    cursor: default;
}

.dragparent{
    display: flex;
    width: 45%;
    height: 100%;
    position: relative;
}

/* .button-creation{
    overflow-y: auto;
    height: calc(100% - 4.5rem);
    max-height: calc(100% - 4.5rem);
} */



.dragbackground{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    border: 2px dashed black;
    border-radius: 8px;
}

.dragbackground img{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropandstatus{
    text-align: center;
    position: relative;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.dropandstatus svg{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.dropandstatus p{
    position: absolute;
    font-size: 2vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.dropstatus{
    width: 100%;
    display: flex;
    height: 70%;
}

.border{
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 23%;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    background-image: url('/resource/MVDG__DisplayDetailsBackground');
    background-size: cover;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #28b3f4 #28b3f400;
    gap: 2.5%;
    width: 55%;
    height: 100%;
    margin-left: 1rem;

}

.cursor:hover{
    cursor: pointer;
}

.cursor{
    border-radius: 8px 0px 0px 8px;
}

.popup-container{
    display: flex;
    width: 100%;
}

.closebar{
    margin-top: 20px;
    margin-right: 20px;
}

.left-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-popup img{
    padding-left: 20px;
    margin-top: -44px;
    /* padding-top: 20px; */
    /* padding-bottom: 24px; */
    padding-right: 15px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
}


.right-popup{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.right-popup p{
    font-size: 1.5rem;
}

.popupwindow{
    align-items: end;
    width: 50rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
}

.right-popup input{
    padding: 0.8rem 0.4rem;
    border-radius: 8px;
    width: 90%;
    color: #424242;
}

.right-popup button{
    margin: 0.2rem 0 2rem 0;
    padding: 0.3rem;
    width: 90%;
    font-size: 1rem;
    background-color: rgb(69, 194, 69) !important;
}

.clipboard{
    padding-right: 3rem !important;
}



.redirect {
    position: relative;
    padding: 0px;
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.redirect .text_field {
    border-radius: 8px;
    width: 100%;
    color: #424242;
}

.redirect .text_field input {
    width: 100%;
}

.redirect .icon-copy {
    position: absolute;
    top: 50%; 
    right: 0.8rem;
    transform: translateY(-30%); /* Center vertically */
    cursor: pointer;
    border: none;
}

.icon-copy svg:active {
    stroke: rgb(202, 202, 202);

}

.googledrive{
    display: flex;
    align-items: center;
}

.googledrive img{
    margin-left: 10px !important;
}

.onedrive{
    display: flex;
    align-items: center;
}

.dropbox{
    display: flex;
    align-items: center;
}



.aws{
    display: flex;
    align-items: center;
}

.activeandunauthorize{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 28%; */
    margin-right: 10px;
}

.img-content{
    min-width: 120px;
}

.img-content img{
    margin-inline: 10px;
    height: 70px;
    width: 100px;
}

.dropbox img{
    margin-inline: 0px !important;
    height: 80px !important;
    width: 120px !important;
}



.userdata {
    /* margin-inline: 20px; */
    overflow: hidden;
    font-size: medium;
    font-stretch: semi-expanded;
    flex-grow: 1;
    /* width: 50%; */
    text-overflow: ellipsis;
}


.userdata .left{
    display: inline-block;
    width: 100px;
}

.userdata .center{
    padding-inline: 2px;
}

.active {
    width: 90px;
    padding: 4px;
    background-color: rgb(147,231,174);
    border-radius: 100px;
    margin-inline: 10px;
    padding-block: 7.5px;
    display: flex;
    align-items: center;
}

.active p{
    margin-inline: 5px;
    display: inline-block;
}

.Inactive {
    width: 90px;
    padding: 4px;
    background-color: rgba(255, 210, 210, 1);
    border-radius: 100px;
    margin-inline: 10px;
    padding-block: 7.5px;
    display: flex;
    align-items: center;
}

.Inactive p{
    margin-inline: 5px;
    display: inline-block;
}

.Inactive .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(228, 50, 50, 1);
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 5px;
    /* transition: background-color 0.5s ease-in-out; */
}

.error-border {
    border: 1px solid red !important;
}




.active .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(20, 173, 0, 1);
    border-radius: 10px;
    animation: pulse-animation 1s ease-out infinite !important;
    vertical-align: middle;
    margin-left: 5px;
    /* transition: background-color 0.2s ease-in-out; */
}

.activetext{
    display: inline-block;
    width: fit-content;
    margin-left: 8px;
}

.inactivetext{
    display: inline-block;
    width: fit-content;
    margin-left: 8px;
}

.unauthorize{
    background-color: rgba(255, 210, 210, 1);
    margin-inline: 10px;
    padding: 7.5px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: linear 0.25s;

    &:hover{
        box-shadow: 0px 0px 10px 0px rgb(142 142 142);
      }

    &:disabled{
        opacity: 0.5;
    }
}



.noInt{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.noIntImg{
    width: 30%;
}

.noIntText{
    width: 50%;
}

.noIntText p b{
    font-size: large;
}

.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
  }
  
  .label-float input:focus{
    border: 1px solid rgb(0, 174, 255);

  }
  
  .label-float input::placeholder{
  }

  .label-float input::placeholder:focus{
    color:grey;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    width: 60%;
  }

  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border: 1px solid red;
    width: auto;
  }

  .label-float input:required:invalid + label:before{
    content: '*';
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    box-sizing: border-box;
    color: rgb(0, 174, 255);
    width: auto;

  }

  .right-popup p {
    color: #00AEFF;
  }
  @keyframes pulse-animation{
        0% {
            box-shadow: 0 0 0 0px rgba(20, 173, 0, 1);
            
        }
        100% {
            box-shadow: 0 0 0 5px rgb(147,231,174);
        }
    }



@media screen and (min-width: 1300px) and (max-width: 1445px) {

    .img-content{
        min-width: 100px;
    }

    .popupwindow{
        width: 45rem;
    }

    .border{
        min-height: 90px;
    }

    .all-cards img{
        height: 105px;
        width: 150px;
    }

    .img-content img{
        margin-inline: 10px;
        height: 56px;
        width: 80px;
    }
    
    .activeandunauthorize{
        min-width: 160px;
        margin-right: 10px;

    }
    .dropbox img {
        margin-left: 0px !important;
        height: 68px !important;
        width: 100px !important;
    }

    .userdata {
        margin-inline: 10px;
        font-size: 15px;
        font-stretch: normal;
    }

    .heading {
        font-size: 1.7rem;
    }

    .switch p {
        font-size: 1rem;
    }

    .userdata .left{
        width: 90px;
    }
}



@media screen and (min-width: 1100px) and (max-width: 1300px) {

    .all-cards img{
        height: 80.5px;
        width: 115px;
    }

    .img-content{
        min-width: 80px;
    }

    .img-content img{
        margin-inline: 7.5px;
        height: 42px;
        width: 60px;
    }

    .dropbox img {
        margin-left: 0px !important;
        height: 50px !important;
        width: 80px !important;
    }

    .userdata {
        margin-inline: 10px;
        font-size: smaller;
        font-stretch: normal;
        width: 60%;
    }
    .unauthorize{
        background-color: rgba(255, 210, 210, 1);
        margin-inline: 6px;
        border-radius: 8px;
        cursor: pointer;
    }

    .active {
        margin-inline: 7px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .switch p {
        font-size: 0.9rem;
    }
    .popupwindow{
        width: 35rem;
    }

    .activeandunauthorize{
        width: 35%;
        margin-right: 10px;

    }
    .userdata .left{
        width: 70px;
    }

    .border{
        min-height: 75px;
    }
}



/* @media screen and (min-width: 1600px) and (max-width: 2400px) {
    .userdata {
        width: 60%;
    }

    .activeandunauthorize{
        justify-content: space-evenly;
        height: 100%;
        width: 25%;
        margin-right: 10px;

    } 

} */

@media screen and (max-width: 1100px) {

    .all-cards img{
        height: 70px;
        width: 100px;
    }

    .img-content{
        min-width: 20px;
    }

    .img-content img{
        margin-inline: 5px;
        height: 35px;
        width: 50px;
    }

    .dropbox img {
        margin-left: 0px !important;
        height: 42px !important;
        width: 60px !important;
    }

    .active {
        font-size: smaller;
        width: 80px;
    }

    .Inactive {
        font-size: smaller;
        width: 80px;
    }

    .userdata {
        margin-inline: 8px;
        font-size: smaller;
        font-stretch: normal;
        width: 50%;
    }
    .unauthorize{
        text-align: center;
        background-color: rgba(255, 210, 210, 1);
        width: 80px;
        margin: 2px;
        padding: 4px;
        border-radius: 100px;
        cursor: pointer;

    }

    .popupwindow{
        width: 28rem;
    }

    .left-popup{
        display: none;
    }

    .right-popup{
        width: 100%;
        margin-left: 40px;
        gap: 20px;
    }

    .unauthorize svg{
        height: 12px;
        width: 12px;
    }

    .activeandunauthorize{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 30%;
        margin-right: 10px;

    }

    .company-info p{
        padding-bottom: 3px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .switch p {
        font-size: 0.9rem;
    }

    .userdata .left{
        width: 65px;
    }

    
}
