/* **** ***** ****** toolbar CSS -- START **** ***** ****** */
.pdf_toolbar{
    width: 100%;
    height: 3.5rem;
    background: #01AEFF;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.configContainet{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.configContainet button{
    border: none;
    outline: none;
    background: inherit;
}
.configContainet button:active{
    background: initial;
}
.config_cc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.config_cc:not(:last-child){
    padding-right: 1rem;
    border-right: 1.5px solid white;
}
.pageConfig{
    gap: 0.5rem;
}
.pageChangeConfig{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.pageChangeBtn{
    background: #e5f7ffcc !important;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 5px;
    cursor: pointer;
}
.pageMinus{
    border-radius: 4px 0px 0px 4px;
}
.pagePlus{
    border-radius: 0px 4px 4px 0px ;
}
.pageChangeBtn svg{
    width: 16px;
    height: 16px;
    fill: currentColor;
}
.pageChangeBtn:disabled{
    cursor: no-drop;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.pageToSetInut{
    width: 2.5rem;
    height: 1.6rem;
    border: none;
    outline: none;
    text-align: center;
    padding-block: 1px;
    background: #e5f7ffcc !important;
}
.pageToSetInut[data-name="totalPages"]{
    border-radius: 2px; 
}
.pageToSetInut:focus-visible,
.zoomInpput:focus-visible{
    border: none;
    outline: none !important;
}
.toolbarText{
    font-size: 14px;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: #d7f3ff;
}
.zoomConfig{
    gap: 0px;
}
.zoomBtn{
    width: 1.5rem;
    height: 1.5rem;
    fill: #b7e9ff;
    padding: 0.25rem;
    cursor: pointer;
    transition: all linear 0.1s;
    outline: 1px solid #b7e9ff;
}
.zI{
    border-radius: 4px 0px 0px 4px;
}
.zO{
    border-radius: 0px 4px 4px 0px;
}
.zoomBtn:hover{
    background: #e5f7ffcc !important;
    fill: #01aeff;
}
.zoomInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    border-radius: 2px;
}
 /* **** ***** ****** toolbar CSS -- END **** ***** ****** */

 
.content{
    --zoomLevel: 100%;
    min-width: 100%;
    width: 100%;
    max-width: max-content;
    height: calc(100% - 3.5rem);
    overflow: auto;
    /* background: rgb(226 247 255); */
    background: #4d525d;
    padding-block: 1rem;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #01aeff transparent;
}
.scrollTopBtn{
    position: sticky;
    bottom: 0rem;
    left: calc(100% - 4.5rem);
    border-radius: 50%;
    padding: 0.25rem;
    background: white;
    box-shadow: rgb(0 0 0 / 32%) 0px 0px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}
.scrollTopBtn svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #0098de;
    transform: rotate(180deg);
}
.content_sub{
    min-width: calc(var(--zoomLevel) - 4rem);
    width: calc(var(--zoomLevel) - 4rem);
    height: max-content;
    padding-inline: 2rem;
    margin-inline: auto;
    margin-bottom: -3rem;
}
 .pdf_content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
 }
 .canvasClass{
    width: 100%;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 6px, rgb(0 0 0 / 37%) 0px 3px 6px;
 }