:host(){
    
}
.faq-maindiv{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
hr{
    margin-block: 0.25rem;
}
.all-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
    margin-inline: auto;
    padding-inline: 2rem;
    flex-wrap: wrap;
}

.faqSelection{
    width: 100%;
    padding-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.selectedFAQName{
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
    color: #00AEFF;
}
.selectFaqBtn{
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}
.selectFaqBtn svg{
    width: 2rem;
    height: 2rem;
}
.selectFaqBtn:hover{
    background: #dedede;
}
.selectFaqBtn[data-selected=true]{
    background: #dedede;
}
.selectFAQbtns{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-top: 1px solid #dbdbdb;
    box-shadow: 0px 12px 22px -1px #7c7c7c;
}
.faq-button-mobile{
    width: 100%;
    padding-block: 0.5rem;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    background: white;
    color: #00AEFF;
}
.faq-button-mobile:hover{
    color: #00AEFF;
    background-color: #f6f6f6;
}
.faq-button-mobile[data-selected=true]{
    color: white;
    background: #00AEFF;
    border-color: #00AEFF;
}


.faq-button {
    height: 45px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    box-shadow: 0px 0px 12px -1px #21212147;
    transition: all linear 0.25s;
    color: #00AEFF;
}

.faq-button:hover {
    border: 0px;
    /* scale: 1.05; */
}
.faq-button[data-selected=true]{
    background-color: #00aeff;
    color: white;
    border: 0px;
}

.faq-button[data-selected=true]:hover {
    background-color: #00AEFF;
    color: WHITE;
}

.content-container {
    display: flex;
    height: calc(100% - 6rem);
    color: #4d5974;
}

.left-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-container {
    padding-right: 10px;
    height: 100%;
    padding-top: 8px;
    width: 50%;
    display: block;
    overflow: auto;
}

.accordion-div{
    padding-right: 1rem;
}
.single-accordion{
    margin-bottom: 1rem;
    background: #ececec;
    border-radius: 6px;
    padding: 1rem 1rem;
}
.accordion-header{
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid #9f9f9f;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem; */
    cursor: pointer;
}
.accordion-heading-text{
    flex-grow: 1;
    padding-inline: 1rem;
    line-height: 1.75rem;
    font-size: 18px;
}
.accordion-heading-button{
    min-width: 1.75rem;
    height: 1.75rem;
    padding: 1px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ececec;
    outline: none;
}

.accordion-body-content{
    padding-inline: 1rem;
    --maxHeight : 0rem;
    max-height: var(--maxHeight );
    overflow: hidden;
    transition: all linear 0.25s;
}

.accordion-header:hover,
.accordion-header[data-opened=true]{
    border-color: #00AEFF;
}
.accordion-header:hover > .accordion-heading-text,
.accordion-header[data-opened=true] > .accordion-heading-text{
    color: #00AEFF;
}
.accordion-header:hover > .accordion-heading-button,
.accordion-header[data-opened=true] > .accordion-heading-button{
    border-color: #00AEFF;
}
.accordion-header:hover > .accordion-heading-button,
.accordion-header[data-opened=true] > .accordion-heading-button svg{
   fill: #00AEFF;
}

@media only screen and (max-width: 800px){
    .left-container{
        display: none;
    }
    .right-container{
        padding-inline: 2rem;
        flex-grow: 1;

    }
}

@media only screen and (max-width: 600px){

}


